<div class="columns add-review-full">
    <form class="addReview container column is-half is-offset-one-quarter control" action="/add-review" method="POST">
        <div class="control is-expanded dr-dropdown" id="dr-select">
            <p class="physician-select"><strong>Select the Physician You Would Like to Review:</strong></p>
            <div class="select is-fullwidth inner-dr-dropdown">
                <select>
                <option>Select Physician</option>
                <option>D Pepper M.D.</option>
                <option>Sigmund Freud M.D.</option>
                <option>H Lecter M.D.</option>
                </select>
            </div>
        </div>
        <div class="field">
            <p class="question-title label">On a scale of 1-10, where 0 is poor and 10 is excellent, please rate the following:</p>
            <label class="subtitle">The Physician's Medical Knowledge:</label>
            <select id="example">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="control">
                <input class="input" type="number" placeholder="Enter Rating" name="MedicalKnowledgeRating" min="1" max="10">
            </div>
        </div>
        <div class="field">
            <label class="subtitle">The Physician's Clinical Judgment</label>
            <div class="control">
                <input class="input" type="number" placeholder="Enter Rating" name="ClinicalJudgmentRating" min="1" max="10">
            </div>
        </div>
        <div class="field">
            <label class="subtitle">The Physician's Teaching Skills</label>
            <div class="control">
                <input class="input" type="number" placeholder="Enter Rating" name="TeachingSkillsRating" min="1" max="10">
            </div>
        </div>
            <div class="field">
            <label class="subtitle">The Physician's Humanistic Qualities</label>
            <div class="control">
                <input class="input" type="number" placeholder="Enter Rating" name="HumanisticQualitiesRating" min="1" max="10">
            </div>
        </div>
        <div>
            <div class="field">
            <label class="subtitle">Your Overall Experience</label>
            <div class="control">
                <input class="input" type="number" placeholder="Enter Rating" name="OverallExperienceRating" min="1" max="10">
            </div>
        </div>
        <div>
            <label class="subtitle">Please Leave Any Additional Comments About Your Experience Here:</label>
            <textarea class="field textarea" placeholder="Enter Comments Here" name="OverallExperienceComments"></textarea>
        </div>
        <div class="field is-grouped is-grouped-centered submitBtn">
            <p class="control"><a class="button is-info">Submit</a></p>
            <p class="control"><a class="button is-light">Cancel</a></p>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="jquery.barrating.min.js"></script>
<script type="text/javascript">
   $(function() {
      $('#example').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>