<header class="w3-container w3-center w3-light-blue masthead" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Welcome to Med-Track</h1>
    <p class="w3-xlarge">Charting Your Clinical Journey - Empowering Medical Students' Rotation Reviews</p>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top get-started-btn" id="getStartedBtn">Get Started</button>
</header>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container first-container" id="about">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Enhancing Medical Education Through Feedback</h1>
            <h5 class="w3-padding-32">As a medical school, we understand that the quality of our clinical rotations and faculty guidance has a significant impact on our medical students' learning experience and their future careers. That's why we have developed a platform that bridges the gap between us, the students, and our faculty. This platform enables students to provide valuable feedback, ultimately shaping a more enriching learning journey for everyone involved.
            Our system comes with a range of key features.</h5>

            <p class="w3-text-grey"></p>
        </div>
        <div class="w3-third w3-center">
            <i class="w3-padding-64"></i>
        </div>
    </div>
</div>
<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container second-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="w3-padding-64 w3-margin-right"></i>
        </div>
        <div class="w3-twothird">
            <h1>Your Feedback Shapes a Better Medical School Experience!</h1>
            <h5 class="w3-padding-32">Our platform provides a thorough assessment of faculty members across four key components: medical knowledge, clinical judgment, teaching skills, and humanistic qualities. This holistic view of faculty teaching enhances the quality of education.</h5>
            <h5 class="w3-padding-20">Our system uses data to provide academic institutions with valuable insights. By providing the ability to identify trends, strengths, and areas for improvement, our system empowers evidence-based decision-making that drives positive changes in medical education. Our platform emphasizes continuous improvement, which cultivates a culture of excellence. This results in improved learning outcomes for students and better preparation for their roles as healthcare professionals.</h5>
        </div>
    </div>
</div>
<div class="w3-container w3-black w3-center w3-opacity contact-section" id="contact">
    <h1 class="w3-margin w3-xlarge">Have any questions? Contact us!</h1>
    <h2 class="w3-large">bogusmedicalemail@medtrack.com</h2>
</div>
