<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="test.css">
    <script src="https://kit.fontawesome.com/4268e3dc68.js" crossorigin="anonymous"></script>
  <title>Med-Track</title>
</head>

<body>
    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item logo-text" href="/"><i class="fa-solid fa-comment-medical fa-md med-symbol"></i><strong>Med-Track</strong></a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <!-- use handlebars to add function where user only sees if logged in -->
                <a class="navbar-item" href="/dashboard">Dashboard</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">More</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#about">About</a>
                        <a class="navbar-item" href="#contact">Contact</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Any extra item?</a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href="/login"><strong>Sign up</strong></a>
                        <a class="button is-light" href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="w3-container w3-center w3-light-blue masthead" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Welcome to Med-Track</h1>
        <p class="w3-xlarge">Charting Your Clinical Journey - Empowering Medical Students' Rotation Reviews</p>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" id="signup">Get Started</button>
    </header>
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container first-container" id="about">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Lorem Ipsum</h1>
                <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
        
                <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="w3-third w3-center">
                <i class="w3-padding-64"></i>
            </div>
        </div>
    </div>
    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="w3-padding-64 w3-margin-right"></i>
            </div>
            <div class="w3-twothird">
                <h1>Lorem Ipsum</h1>
                <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    <div class="w3-container w3-black w3-center w3-opacity contact-section" id="contact">
        <h1 class="w3-margin w3-xlarge">Have any questions? Contact us!</h1>
        <h2 class="w3-large">bogusmedicalemail@medtrack.com</h2>
    </div>
    <!-- <script src="../public/js/login.js"></script> -->
    <!-- Footer -->
    <footer class="w3-container footer-section w3-center w3-opacity">  
        <p class="w3-small">Made with love by the Med-Track team 💙</p>
    </footer>
    <!-- Render script for logged in users only -->
    <!-- {{#if logged_in}} -->
    <script src="test.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script> -->
    <!-- <script src="/public/js/index.js"></script>
    <script src="/js/logout.js"></script> -->
    <!-- {{/if}} -->
</body>

</html>