.logo-text {
    font-size: 20px;
    color: #3e8ed0 !important;
}

header.masthead {
    background-color: rgb(184, 239, 255) !important;
    background: url("../images/blue-background.jpg") no-repeat center center;
    background-size: cover;
}

nav.my-navbar {
    background-color: rgb(130, 210, 247) !important;
}

div.first-container {
    background: url("../images/background-image1.jpg") no-repeat center center;
    background-size: cover;
}

div.second-container {
    background: url("../images/2background-image.jpg") no-repeat center center;
    background-size: cover;
    opacity: 80%;
}

.contact-section {
    padding: 40px !important;
}

.footer-section {
    padding: 30px !important;
}

.login-signup {
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-left: 40% !important;
}

.signup-form {
    margin-top: 100px !important;
}

.login-page {
    margin-top: 100px !important;
}

.get-started-btn {
    border-radius: 8px !important;
}

.add-review-full {
    background-color: rgb(223, 223, 223);
}

.addReview {
    padding: 18px;
    margin-top: 100px !important;
}

.dr-dropdown {
    margin-bottom: 18px !important;
}

.physician-select {
    font-size: large;
    background-color: #3e8ed0 !important;
    padding: 10px;
    border-radius: 8px;
}

.inner-dr-dropdown {
    margin-top: 8px;
}

.subtitle {
    font-size: medium;
}

.submitBtn {
    margin-top: 8px;
}